@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #325CC8;
}
img{
    width: 200%;
    height: 200%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 85%;
    background-color: #fff;
    border-radius: 20px;
}

.form-img{
    width: 50%;
}
.form-img img{
    width: 28rem;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.barra{
    height: 5px;
    background-color: #325CC8;
    border-radius: 15px;
}

input{
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
}
input:hover{
    background-color: #325CC8;
}

select { 
    background-color: #325CC8;
    padding: 6px 9px;
    border-radius: 6px;
    font-weight: 700;
    color: #fff;
}

.btn-cadastro{
    padding: 10px 20px;
    background-color: #325CC8;
    border: solid 2px #325CC8;
    border-right-width: 5px;
    border-bottom-width:5px ;
    border-radius: 10px;
    margin-bottom: 20px;
}

.button1 {
    display: flex;
    margin-left: 650px;
    margin-top: 100px;
}
.button1 input {
    
    padding: 12px;
    background-image: linear-gradient(#0587f8, #404040);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.button1 input:hover {
    background: linear-gradient(135deg, #5a98ce, #8d3ea8);
}

.title{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;

}

.btn-entrar{
    padding: 10px 20px;
    background-image: linear-gradient(#325CC8, #17388e);
    border: solid 2px #325CC8;
    border-radius: 10px;  
}
a{
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
}
