* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: brown;
    background-image: url(/img/imagen.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.user-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


.cep-box {
    grid-column: span 3;
}

.cep-container {
    display: flex;
    gap: 10px;
}

.cep-container input {
    flex: 1;
}

.search-cep {
    padding: 10px 15px;
    background: #71b7e6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.search-cep:hover {
    background: #0587f8;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button input {
    width: 50%;
    padding: 10px;
    background-image: linear-gradient(#3383c1, #256a8a);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.button input:hover {
    background: linear-gradient(135deg, #5a98ce, #8d3ea8);
}

.button1 input {
    width: 10%;
    padding: 10px;
    background-image: linear-gradient(#0587f8, #404040);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.button1 input:hover {
    background: linear-gradient(135deg, #5a98ce, #8d3ea8);
}


@media (max-width: 768px) {
    .user-details {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .user-details {
        grid-template-columns: 1fr;
    }
}
.alinharItem {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 10px; 
}

